*{
    margin: 0;
    padding: 0;
}
body{
    background: #ecf4fb;
}
.img-gly{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.img-gly img{
    width: 100%;
    cursor: pointer;
}
.img-gly img:hover{
    transform: scale(0.8) rotate(-10deg);
    border-radius: 20px;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 30%;
    max-width: 400px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}



